* {
  margin: 0;
}

html {
  font-size: 16px;
}

.main_title {
  background-color: rgb(186, 218, 199);
  display: flex;
  justify-content: center;
  padding: 40px 0px;
}

.main_title {
  color: azure;
  font-family: 'Cairo';
  font-size: 20px;
}

.navbar {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  background-color: rgb(186, 218, 199);
  padding: 10px 0px;
}

.navbar_logo {
  /* display: none; */
  display: flex;
  margin-left: 10vw;
  font-size: 20px;
  color: rgb(59, 59, 59);
  font-weight: 900;
  padding: 10px;
}

.navbar_logo p {
  margin-left: 10px;
}

.navbar_menu {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  width: 100%;
  margin-left: 12vw;
}

.navbar_menu li {
  padding: 8px 12px;
}

.navbar_menu a {
  padding: 5px 20px;
  color: azure;
  font-weight: 700;
  text-decoration-line: none;
}

.navbar_menu a:hover {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  color: rgb(156, 156, 156)
}

.navbar_icons {
  display: flex;
  list-style: none;
  font-size: 20px;
  color: azure;
  margin-right: 10vw;
  padding-left: 0;
}

.login {
  font-size: 20px;
  text-decoration: none;
  margin-left: 5px;
}

#side_menu {
  display: flex;
  height: 100%;
  width: 25%;
}

#side_menu1 {
  display: flex;
  height: 20%;
  width: 100%;
}

#side_menu2 {
  display: flex;
  height: 25%;
  width: 100%;
}


main {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 0px 10vw;
  margin-bottom: 50px;
}

.main_login {
  display: flex;
  flex-direction: column;
  background-color: rgb(243, 242, 229);
  border: 2px solid rgb(202, 202, 202);
  height: 100%;
  width: 100%;
  padding: 20px;
  margin-top: 15px;
  margin-right: 10px;
  justify-content: center;
  align-items: flex-start;
}

#write_btn {
  margin: 10px 0;
}

.main_login>form>li:nth-child(1) {
  text-align: center;
  width: 100%;
  color: rgb(65, 116, 77);
  font-size: 1.2em;
  margin-bottom: 20px;
  padding: 0;
}

.main_login>form>li {
  margin-bottom: 5px;
}

.login_element {
  width: 100%;
  height: 30px;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 1.3rem;
}

#login_signup_btn_div {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: space-between;
  margin-top: 20px;
}

#login-Form {
  width: 80%;
  padding: 20px;
  height: 100%;
}

#login_signup_btn_div>li {
  width: 100%;
}


#login_btn,
#signup_btn {
  width: 100%;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  color: rgb(65, 116, 77);
  font-weight: bold;
  font-size: 1em;
  box-shadow: none;
  border-radius: 3px;
  border: 2px solid rgb(65, 116, 77);
  cursor: pointer;
  margin: 0;
  margin-right: 5px;
}

#main_div {
  display: flex;
  height: 100%;
  width: 75%;
  flex-direction: column;
}

#my_profile_div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#my_profile_div>ul>li {
  font-size: 20px;
  font-weight: bold;
}

#logout_btn {
  width: 150px;
  height: 35px;
  background-color: rgb(186, 218, 199);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: none;
  box-shadow: none;
  border-radius: 3px;
  cursor: pointer;
}


#my_profile {
  border-radius: 50px;
  border: 1px solid rgb(172, 172, 172);
}

#side_menu2>ul>li:nth-child(1)>div {
  display: flex;
  align-items: center;
}



#side_menu2>ul>li:nth-child(1)>div>ul {
  text-align: left;
  color: rgb(126, 126, 126);
  font-size: 0.8em;
  padding-left: 12px;
}


#write_btn,
#write_btn>input {
  width: 100%;
  height: 50px;
  background-color: rgb(238, 226, 155);
  color: rgb(121, 121, 121);
  font-weight: bold;
  font-size: 1.2em;
  border: 1px solid rgb(172, 172, 172);
  cursor: pointer;
}



#product_image {
  height: 30%;
  width: 100%;
}


.total_writing {
  background-color: rgb(231, 231, 231);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

main div ul {
  list-style: none;
}

footer {
  background-color: rgb(122, 155, 135);
  height: 200px;
}

.copyright {
  display: flex;
  align-items: center;
  padding-left: 50px;
  color: azure
}

.navbar_togglebBtn {
  display: none;
  position: absolute;
  right: 15px;
  font-size: 24px;
  color: rgb(255, 255, 255);
}

.content_title>a {
  color: rgb(111, 149, 121);
}

.content_list>.click_count {
  color: rgb(250, 175, 46);
}

a {
  text-decoration: none;
  font-weight: bold;
}

#content_list {
  border-collapse: collapse;
  /* border: solid 3px black; */
}

.num,
.content_title,
.writer,
.date,
.click_count {
  border-bottom: solid 1px rgb(162, 162, 162);
}

.num {
  border-right: solid 1px rgb(162, 162, 162);
}

.writer {
  border-left: solid 1px rgb(162, 162, 162);
  border-right: solid 1px rgb(162, 162, 162);
}

thead>tr>th {
  color: rgb(80, 101, 86);
  font-weight: bold;
}

.title {
  width: 100%;
  text-align: center;
}

.title>h2 {
  background-color: rgb(135, 169, 144);
  padding: 10px 20px;
  color: white;
}





@media screen and (max-width: 1300px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 14px;
  }

  .navbar_menu {
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 0;
  }

  .navbar_menu li {
    width: 100%;
    text-align: center;
  }

  .navbar_icons {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar_togglebBtn {
    display: block;
  }

  .navbar_logo {
    display: none;
  }

  .main_title {
    font-size: 15px;
    padding: 20px;
  }

  .navbar_menu.active,
  .navbar_icons.active {
    display: flex;
  }

  #side_menu {
    display: none;
  }

  #main_div {
    width: 100%;
  }

  main {
    margin: 0;
  }

  .content_list_div {
    padding: 0;
  }

  th,
  td {
    font-size: 13px;
  }

  #my_info {
    font-size: 20px;
  }

  .title {
    margin: 0;
  }

}

@media screen and (max-width: 500px) {

  th,
  td {
    font-size: 10px;
  }

  /* #contents_profile {
    display: none;
  } */

  .writer {
    display: none;
  }

  .date {
    width: 15%;
  }

  .click_count {
    width: 8%;
  }


}