* {
  margin: 0;
}

html {
  font-size: 16px;
}

/* .main_title {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  padding: 40px 0px;
}

#main_title {
  color: rgb(107, 164, 255);
  font-family: 'Cairo';
  font-size: 2.5rem;
}

.navbar {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding: 10px 0px;
} */

.navbar_menu {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  width: 100%;
  margin-left: 12vw;
}

.navbar_menu li {
  padding: 8px 12px;
}

/* .navbar_menu a {
  padding: 5px 20px;
  color: rgb(107, 164, 255);
  font-weight: 700;
  text-decoration-line: none;
}

.navbar_menu a:hover {
  background-color: rgb(154, 193, 255);
  border-radius: 4px;
  color: rgb(255, 255, 255)
} */

/* .navbar_icons {
  display: flex;
  list-style: none;
  font-size: 1.5rem;
  color: rgb(107, 164, 255);
  margin-right: 10vw;
  padding-left: 0;
} */

.navbar_togglebBtn {
  display: none;
  position: absolute;
  right: 15px;
  font-size: 24px;
  color: rgb(107, 164, 255);
}


@media screen and (max-width: 1300px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 14px;
  }

  .navbar_menu {
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 0;
  }

  .navbar_menu li {
    width: 100%;
    text-align: center;
  }

  .navbar_icons {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar_togglebBtn {
    display: block;
  }

  .navbar_logo {
    display: none;
  }

  .main_title {
    font-size: 15px;
    padding: 20px;
  }

  .navbar_menu.active,
  .navbar_icons.active {
    display: flex;
  }

}

@media screen and (max-width: 500px) {



}